<!-- ============================================================== -->
<!-- Start Main Container -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- BreadCrumbs -->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Start Route System -->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
      © 2020 Admin Pro by wrappixel.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>
<!-- ============================================================== -->
<!-- End Main Container  -->
<!-- ============================================================== -->
