
<div class="row">
  <div class="col-6">
    <app-gdoughnut
      [title]="graphSales.title"
      [labels]="graphSales.labels"
      [data]="graphSales.data"
      [bgcolors]="graphSales.colors">
    </app-gdoughnut>
  </div>
  <div class="col-6">
    <app-gdoughnut
      [title]="graphInventory.title"
      [labels]="graphInventory.labels"
      [data]="graphInventory.data"
      [bgcolors]="graphInventory.colors">
    </app-gdoughnut>
  </div>
  <div class="col-6">
    <app-gdoughnut
      [title]="graphInventory.title"
      [labels]="graphInventory.labels"
      [data]="graphInventory.data"
      [bgcolors]="graphInventory.colors">
    </app-gdoughnut>
  </div>
</div>
